<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-white mb-0">{{postulation.user.nom}} {{postulation.user.prenom}}</h3>
                  <span class="text-white">{{postulation.user.experience}}</span>
                </div>
                <ul class="list-unstyled mb-1-9">
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> {{postulation.population?.populationType}}</li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Institus:</span> {{postulation.user.university}}</li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Experience:</span> {{postulation.user.experience}}</li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> {{postulation.user.email}}</li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Adresse:</span> {{postulation.user.adresse}}</li>
                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> {{postulation.user.numeroTelephone}}</li>
                </ul>
                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                  <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                  <li><a href="#!"><i class="ti-facebook"></i></a></li>
                  <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                  <li><a href="#!"><i class="ti-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div>
          <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
          <p>{{postulation.motivationText}}</p>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-sm-5">
        <div>
          <span class="section-title text-primary mb-3 mb-sm-4">Soft skills</span>
          <p>{{postulation.user.softskills}}</p>
        </div>
      </div>
      <div class="col-lg-6 mb-4 mb-sm-5">
        <div>
          <span class="section-title text-primary mb-3 mb-sm-4">Hard skills</span>
          <p>{{postulation.user.hardskills}}</p>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
            <div class="mb-4 mb-sm-5">
              <span class="section-title text-primary mb-3 mb-sm-4">Languages</span>
              <div *ngFor="let l of postulation.user.langueObtentions">
                <div class="progress-text">
                  <div class="row">
                    <div class="col-6">{{l.langue.langage}}</div>
                    <div class="col-6 text-end">{{l.langue.niveau}}</div>
                  </div>
                </div>
                <div class="custom-progress progress progress-medium mb-3" style="height: 4px;">
                  <div class="animated custom-bar progress-bar slideInLeft bg-secondary" [ngStyle]="{'width': getProgressWidth(l.langue.niveau) + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                </div>
              </div>
            </div>
            <div>
              <span class="section-title text-primary mb-3 mb-sm-4">Certifcats</span>
              <div class="progress-text" *ngFor="let c of postulation.user.certificats">
                <div class="row">
                  <div class="col-6">{{ c.nom }}</div>
                  <div class="col-6 text-end">from {{c.organisme}} at {{c.dateObtention|date}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
