<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">

      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100 img" src="/assets/img/about.jpg" alt="" style="object-fit: cover;">
          <div class="img-fluid position-absolute w-100 h-100 img-background"></div>
        </div>
      </div>

      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">Population detail</h6>

        <h1 class="mb-4 custom-h1">{{ this.population.populationType }} for {{ this.population.experience }}</h1>


        <p class="mb-4">Soft Skills demandés : {{population.softskills}}</p>
        <p class="mb-4">Hard Skills demandés : {{population.hardskills}}</p>

        <div class="row gy-2 gx-4 mb-4">
          <p class="mb-4" *ngIf="this.population.langueObtentions?.length!=0">Langues demandées:</p>
          <div class="col-sm-12" *ngFor="let l of this.population.langueObtentions">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>{{l.langue.langage}} pour le niveau {{l.langue.niveau}}</p>
          </div>
        </div>

        <p class="mb-4" *ngIf="this.population.certificats?.length!=0">Certificats demandées.</p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-12" *ngFor="let c of this.population.certificats">
            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>{{c.nom}} apartir {{c.organisme}} proche de {{c.dateObtention | date:'shortDate'}}</p>
          </div>
        </div>
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary py-3 px-5 mt-2" href="">Postuler</a>

      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">Populations</h6>
      <h1 class="mb-5">Condidateurs</h1>
    </div>
    <div class="row g-4">
       <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let postulation of this.population.postulations">
        <div class="team-item bg-light">
          <div class="overflow-hidden">
            <img class="img-fluid" src="/assets/img/team-1.jpg" alt="">
          </div>
          <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
            <div class="bg-light d-flex justify-content-center pt-2 px-1">
              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
              <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
            </div>
          </div>
          <div class="text-center p-4">
            <h5 class="mb-0">{{postulation.user?.nom}} {{postulation.user?.prenom}}</h5>
            <p class="mb-0">{{postulation.user?.email}}</p>
            <p class="mb-0">{{postulation.user?.adresse}} </p>
            <p class="mb-0">{{postulation.user?.score}} </p>
            <small>Postuler a {{postulation.postuledDate| date:'dd-MM-yyyy'}}</small>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight:700">Postuler ici</span><br>
          <small>Nous avons cordialement répondu à votre postulation la plus proche</small></p>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>

      <div class="modal-body">
        <div class="form-group pt-3">
          <div class="form-floating">
            <textarea [(ngModel)]="postule.motivationText"  class="form-control" id="subject" placeholder="Motivation Text"></textarea>
            <label for="subject">Motivation Text</label>
          </div>
          <div class="form-floating">
            <input [(ngModel)]="postule.user.prenom" class="" id="prenom" placeholder="Motivation Text">
          </div>
<!--          <input type="file" [(ngModel)]="postulation.pieceJointe" (change)="onFileSelected($event)" class="form-control" id="pieceJointe"/>-->

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postuler()">Send</button>
      </div>
    </div>
  </div>
</div>
