

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
<!--  <a href="index.html" class="navbar-brand d-flex align-items-center px-8 px-lg-5">
    <img src="assets/img/Logo_Archimed_svg_web-bleu-removebg-preview.png" style="height: 30px">
  </a>-->
  <a class="navbar-brand d-flex align-items-center px-8 px-lg-5">
    <div class="search-box">
      <button (click)="search()" class="btn-search"><img style="position: absolute;width: 60px;left:-2px;top:-5px;z-index: -1" src="/assets/img/archimed%20favicon.png"><i class="fas fa-search"></i></button>
      <input [(ngModel)]="searchText" type="text" class="input-search" placeholder="Type to Search...">
    </div>
    <p class="h1" style="color: #4747F0;font-size: 50px; padding-left: 5px">rchimed</p>

  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="index.html" class="nav-item nav-link">Home</a>
      <a href="/projet" class="nav-item nav-link">Projets</a>
      <a href="/groupe" class="nav-item nav-link">Groupes</a>
      <a [class.active]="path=='/salarie'"  href="/salarie" class="nav-item nav-link">Salarie</a>

      <div class="nav-item dropdown">
        <a [class.active]="path=='/populations'" (click)="changePage('postuler')" href="/populations" class="nav-item nav-link">Populations</a>
        <div class="dropdown-menu fade-down m-0">
          <a href="/population/add" class="dropdown-item">ajouter population</a>
        </div>
      </div>
    </div>
    <a *ngIf="this.auth.isLoggedIn()" (click)="signOut()" href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block carre">Logout<i class="fa fa-arrow-right ms-3 fadeOutRight"></i></a>
    <a *ngIf="!this.auth.isLoggedIn()" routerLink="login" href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block carre">Login<i class="fa fa-arrow-right ms-3 fadeInRightBig"></i></a>

  </div>
</nav>
<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
