<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">

      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100 img" src="/assets/img/postulation.png" alt="" style="object-fit: cover;">
        </div>
      </div>

      <div data-wow-delay="0.1s" class=" col-lg-6 fadeInUp">
        <div *ngIf="indice==1" class="archi-card">
          <p class="archi-h2">Formulaire d'ajout d'une population</p>
          <br/>
          <div >
            <p class="archi-label">University recommandé*</p>
            <input type="text" [(ngModel)]="population.university"  class="archi-put" id="prenom" placeholder="Motivation Text">
          </div>
          <br/>

          <div style="display: flex; justify-content: space-between">
            <p class="archi-label">Population Type *</p>
            <select [(ngModel)]="population.populationType" class="archi-put" style="width: 40%" >
              <option *ngFor="let pt of PopulationType|enumKeyValue" [value]="pt.value">{{pt.key}}</option>
            </select>
          </div>
          <br/>

          <div style="display: flex; justify-content: space-between">
            <p class="archi-label">Experience *</p>

            <select [(ngModel)]="population.experience" class="archi-put" style="width: 40%" >
              <option *ngFor="let e of Experience|enumKeyValue " [value]='e.value'>{{e.key}}</option>
            </select>
          </div>
          <br/>
          <br/>
          <p>En soumettant ce formulaire, j'accepte que les données saisies dans ce formulaire soient utilisées pour recevoir des informations de la part d'Archimed, et utilisées dans les conditions décrites dans la Politique de confidentialité.</p>
          <div style="display: flex;justify-content: space-between">
            <button type="button" class="btn btn-primary" (click)="prev()">annuler</button>
            <button type="button" class="btn btn-primary"  (click)="next()">suivant</button>
          </div>


        </div>
        <div *ngIf="indice==2" class="archi-card">
          <p class="archi-h2">Formulaire d'ajout d'une population</p>

          <div>
            <div style="display: flex; justify-content: space-between" >
              <p class="archi-label">Langues*</p>
              <button (click)="addLanguage()" class="btn" style="border-radius: 20px;"><i class="fa fa-plus"></i></button>
            </div>
            <div *ngFor="let l of this.population.langueObtentions;index as i" style="display: flex; justify-content: space-between; padding-bottom: 10px;padding-top: 10px">
              <select [(ngModel)]="l.langue.langage" class="archi-put" style="width: 40%" >
                <option *ngFor="let l of Langage|enumKeyValue " [value]='l.value'>{{l.key}}</option>
              </select>
              <select [(ngModel)]="l.langue.niveau" class="archi-put" style="width: 40%">
                <option *ngFor="let niv of Niveau|enumKeyValue" [value]="niv.value">{{niv.key}}</option>
              </select>
            </div>
          </div>
          <br/>

          <div>
            <p class="archi-label">Soft skills*</p>
            <input [(ngModel)]="population.softskills"  class="archi-put" placeholder="softskills">
          </div>


          <br/>
          <br/>
          <p>En soumettant ce formulaire, j'accepte que les données saisies dans ce formulaire soient utilisées pour recevoir des informations de la part d'Archimed, et utilisées dans les conditions décrites dans la Politique de confidentialité.</p>
          <div style="display: flex;justify-content: space-between">
            <button type="button" class="btn btn-primary" (click)="prev()">annuler</button>
            <button type="button" class="btn btn-primary" (click)="next()">suivant</button>
          </div>
        </div>
        <div *ngIf="indice==3" class="archi-card">
          <p class="archi-h2">Formulaire d'ajout d'une population</p>



          <div>
            <p class="archi-label">Hard skills*</p>
            <input [(ngModel)]="population.hardskills"  class="archi-put" placeholder="Hard skills">
          </div>
          <br/>

          <div>
            <div style="display: flex; justify-content: space-between" >
              <p class="archi-label">Certificats</p>
              <button (click)="addCertificat()" class="btn" style="border-radius: 20px;"><i class="fa fa-plus"></i></button>
            </div>
            <div *ngFor="let c of this.population.certificats,let i= index" style="display: flex; justify-content: space-between; padding-top: 10px; padding-bottom: 10px">
              <input [(ngModel)]="c.nom"  class="archi-put" placeholder="nom">
              <input [(ngModel)]="c.organisme"  class="archi-put" placeholder="organisme">
              <input type="date" [(ngModel)]="c.dateObtention"  class="archi-put">
            </div>
          </div>


          <br/>
          <p>En soumettant ce formulaire, j'accepte que les données saisies dans ce formulaire soient utilisées pour recevoir des informations de la part d'Archimed, et utilisées dans les conditions décrites dans la Politique de confidentialité.</p>
          <div style="display: flex;justify-content: space-between">
            <button type="button" class="btn btn-primary" (click)="prev()">annuler</button>
            <button type="button" class="btn btn-primary" (click)="next()">suivant</button>
          </div>
        </div>
        <div *ngIf="indice==4" class="archi-card">
          <p class="archi-h2">Formulaire d'ajout d'une population</p>



          <div>
            <p class="archi-label">Hard Skills Periority*</p>
            <input [(ngModel)]="population.populationSelectionPeriority.HardSkillPeriority" class="archi-put" placeholder="Hard skills">
          </div>
          <br/>
          <div>
            <p class="archi-label">Soft Skills Periority*</p>
            <input [(ngModel)]="population.populationSelectionPeriority.SoftSkillPeriority" class="archi-put" placeholder="Hard skills">
          </div>
          <br/><div>
          <p class="archi-label">Langue Periority*</p>
          <input [(ngModel)]="population.populationSelectionPeriority.LanguePeriority" class="archi-put" placeholder="Hard skills">
        </div>
          <br/><div>
          <p class="archi-label">Experience Periority*</p>
          <input [(ngModel)]="population.populationSelectionPeriority.ExperiencePeriority" class="archi-put" placeholder="Hard skills">
        </div>
          <br/><div>
          <p class="archi-label">Certificat Periority*</p>
          <input [(ngModel)]="population.populationSelectionPeriority.CertificatPeriority" class="archi-put" placeholder="Hard skills">
        </div>
          <br/><div>
          <p class="archi-label">University Periority*</p>
          <input [(ngModel)]="population.populationSelectionPeriority.UniversityPeriority" class="archi-put" placeholder="Hard skills">
        </div>
          <br/>


          <p>En soumettant ce formulaire, j'accepte que les données saisies dans ce formulaire soient utilisées pour recevoir des informations de la part d'Archimed, et utilisées dans les conditions décrites dans la Politique de confidentialité.</p>
          <div style="display: flex;justify-content: space-between">
            <button type="button" class="btn btn-primary" (click)="prev()">annuler</button>
            <button *ngIf="id==0" type="button" class="btn btn-primary" (click)="ajouter()">ajouter</button>
            <button *ngIf="id!=0" type="button" class="btn btn-primary" (click)="modifier()">modifier</button>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
