<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
        <div class="position-relative h-100">
          <img class="img-fluid position-absolute w-100 h-100 img" src="/assets/img/00.jpeg" alt="" style="object-fit: cover;">
          <div class="position-absolute w-100 h-100 img-background"></div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">Sign Up</h6>
        <h1 class="mb-4 archi-h1">Welcome to Archimed</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">

            <div class="col-12">
              <div class="form-floating">
                <input type="text" formControlName="Nom" class="form-control" placeholder="Subject">
                <label for="subject">Nom</label>
                <small *ngIf="signUpForm.controls['Nom'].dirty && signUpForm.hasError('required','Nom')" class="text-danger">*Username is required*</small>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input type="text" formControlName="Prenom" class="form-control" placeholder="Subject">
                <label for="subject">Prenom</label>
                <small *ngIf="signUpForm.controls['Prenom'].dirty && signUpForm.hasError('required','Prenom')" class="text-danger">*Last Name is required*</small>
              </div>
            </div>



            <div class="col-12">
              <div class="form-floating">
                <input type="text" formControlName="Email" class="form-control" placeholder="Subject">
                <label for="subject">Email</label>
                <small *ngIf="signUpForm.controls['Email'].dirty && signUpForm.hasError('required','Email')" class="text-danger">*Email is required*</small>
              </div>
            </div>

            <div class="col-12">
              <div class="form-floating">
                <input type="text" formControlName="Password" class="form-control" id="subject" placeholder="Subject">
                <label for="subject">Mot de passe</label>

                <small *ngIf="signUpForm.controls['Password'].dirty && signUpForm.hasError('required','Password')" class="text-danger">*Password is required*</small>
                <small *ngIf="signUpForm.controls['Password'].dirty && signUpForm.hasError('pattern','Password')" class="text-danger">*Le format est incorrect*</small>

              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary w-100 py-3" type="submit">Sign up</button>
            </div>
          </div>
          <div class="text-center pt-4 text-muted">Already have an account? <a id="forgot" routerLink="/login" href="#" class="text-bottom">Login</a> </div>

        </form>
      </div>
    </div>
  </div>
</div>
